.main{
    display: flex;
    align-items: center;
}
.mainText{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 17px;
}
.mainText .name{
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 700;
    color: var(--c-primary);
    font-size: 24px;
}
.subTitle{
    font-family: var(--ff-secondary);
    font-style: normal;
    font-weight: 400;
    color: var(--c-primary);
    font-size: 16px;
    margin-top: 5px;
    white-space: nowrap;
}

@media(max-width: 1200px){
    .subTitle{
        font-size: 12px;
    }
}
@media(max-width: 568px){
    .isFooter .name{
        font-size: 20px;
    }
    .isFooter .subTitle{
        font-size: 10px;
    }
}

@media(max-width: 414px){
    .name{
        font-size: 18px;
    }
    .subTitle{
        font-size: 9px;
    }

    .isFooter .name{
        font-size: 24px;
    }
    .isFooter .subTitle{
        font-size: 12px;
    }
    .isFooter{
        display: none;
        justify-content: center;
        margin-top: 20px;
    }
}
@media(max-width: 320px) {
    .mainText .name {
        font-size: 14px;
    }

    .subTitle {
        font-size: 7px;
    }
    .main img{
        width: 35px;
    }
}
