.container{
    padding-top: 265px;
}
.aboutSection{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.aboutTitleWrap{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.aboutTitle{
    font-family: var(--ff-primary);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2em;
    color: var(--c-primary);
    text-align: left;
}
.aboutSubTitle{
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 26px;
    color: var(--c-primary);
    text-align: left;
    margin-top: 10px;
}
.myCVWrap{
    display: flex;
    width: 60%;
    margin-top: 40px;
}
.CVInfo{
    border-left: 1px solid var(--c-primary);
    margin-left: 15px;
    padding: 15px 5px 15px 15px;
}
.CVInfoTitle{
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: var(--c-primary);
}
.sectionContent{
    margin-top: 60px;
}
.mainDescription{
    width: 60%;
    text-align: left;
}
.mainDescription{
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: var(--c-primary);
}
.infoList{
    display: flex;
    justify-content: start;
}
.infoList ul{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}
.infoList ul .title{
    font-family: var(--ff-primary);
    font-style: normal;
    color: var(--c-black);
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
}
.infoList ul .value{
    font-family: var(--ff-primary);
    font-style: normal;
    color: var(--c-primary);
    font-size: 16px;
    margin-right: 10px;
}
.blockTitleWrap{

}
.blockTitle{
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 26px;
    color: var(--c-primary);
    text-align: left;
    margin-top: 10px;
    text-align: center;
}
.gif{
    width: 35px;
}
.innerSection{
    margin-top: 40px;
    justify-content: center;
}
.innerListBlock{
    max-width: 300px;
    box-shadow: 0px 4px 30px rgb(0 0 0 / 20%);
    margin: 0 auto;
    padding: 20px;
}
.inner{
}
.innerList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}