.footer{
    padding: 40px 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--c-footer);
    margin-top: 100px;
}
.info{
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: var(--c-black);
}
.right{
    display: flex;
}
.downloadBtn{
    margin-left: 50px;
}

@media (max-width: 1200px) {
    .info{
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .right{
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .footer{
        padding: 40px;
    }
}

@media (max-width: 568px) {
    .downloadBtn{
        margin-left: auto;
        padding: 12px 20px;
        font-size: 14px;
    }
    .info{
        font-size: 10px;
    }
}

@media (max-width: 414px) {
    .downloadBtn{
        margin-left: 0;
        padding: 17px 40px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .info{
        font-size: 14px;
        margin-top: 12px;
    }
    .footer{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}