.btn{
    background: #FFFFFF;
    border-radius: 40px;
    padding: 17px 40px;
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    color: #474747;
    text-decoration: none;
}

.download{
    color: #474747;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}
.downloadCV{
    white-space: nowrap;
    background: var(--c-white);
    border-radius: 40px;
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: var(--c-primary);
    border: none;
    transition: all .5s ease;
    cursor: pointer;
    align-self: center;
}
.downloadCV:hover{
    transition: all .5s ease;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
}
.black{
    background: var(--c-black);
}
.black .link{
    color: var(--c-white);
}
.send{
    border: none;
    outline: none;
    border-bottom: 2px solid var(--c-black);
    border-radius: 0;
    font-weight: 700;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
}